[mysqld]
key_buffer = 32M
max_allowed_packet = 32M
table_open_cache = 2048
sort_buffer_size = 8M
join_buffer_size = 4M
net_buffer_length = 8K
read_buffer_size = 1M
read_rnd_buffer_size = 2M
thread_cache_size = 48
query_cache_size = 32M
query_cache_limit = 4M
query_cache_type = 1
thread_concurrency = 4
tmp_table_size = 32M
max_heap_table_size = 32M
innodb_buffer_pool_size = 384M
innodb_additional_mem_pool_size = 32M
innodb_data_file_path = ibdata1:10M:autoextend:max:128M
innodb_log_file_size = 64M
innodb_log_buffer_size = 16M
innodb_log_files_in_group = 2
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 50
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_thread_concurrency = 0
